
body {
  background-color: #404e6d;
}

#main {
  margin: auto;
  width: 60%;
  border: 3px solid gold;
  padding: 10px;
  background-color: whitesmoke;
}

#title {
  text-align: center;
  color: blue;
  font-family: sans-serif;
}

.life {
  text-align: center;
  color: blue;
  font-family: sans-serif;
}

.him {
  text-align: center;
  font-size: 20px;
  color: lightblue;
  font-family: monospace;
}

.photo {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#img-caption {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#headline {
  text-align: center;
  font-family: fantasy;
  color: blue;
}

#projects {
  text-align: center;
  font-family: fantasy;
  color: blue;
}

.quote1 {
  text-align: center;
  color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quote2 {
  text-align: center;
  color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hisname {
  text-align: center;
}

.link {
  text-align: center;
}
